[virtualbox]
name={{ ansible_distribution }}-$releasever / $basearch - VirtualBox
baseurl=http://download.virtualbox.org/virtualbox/rpm/{{ ansible_distribution }}/$releasever/$basearch
enabled=1
gpgcheck=0
