[cdh5-all:children]
cdh5-namenode
cdh5-journalnode
cdh5-zookeeperserver
cdh5-resourcemanager
cdh5-httpfs
cdh5-hbase
cdh5-slave
cdh5-hive
cdh5-oozie
cdh5-pig
cdh5-spark

[cdh5-namenode:children]
cdh5-namenode-primary
cdh5-namenode-backup

[cdh5-namenode-primary]
{{ ec2_cdh5_ma_result.results[0].item.name }}

[cdh5-namenode-backup]
{{ ec2_cdh5_ma_result.results[1].item.name }}

[cdh5-journalnode]
{{ ec2_cdh5_ma_result.results[0].item.name }}
{{ ec2_cdh5_ma_result.results[1].item.name }}
{{ ec2_cdh5_ma_result.results[2].item.name }}

[cdh5-zookeeperserver]
{{ ec2_cdh5_ma_result.results[0].item.name }} zoo_id=1
{{ ec2_cdh5_ma_result.results[1].item.name }} zoo_id=2
{{ ec2_cdh5_ma_result.results[2].item.name }} zoo_id=3

[cdh5-resourcemanager]
{{ ec2_cdh5_ma_result.results[1].item.name }}

[cdh5-httpfs]
{{ ec2_cdh5_ma_result.results[1].item.name }}

[cdh5-hbase:children]
cdh5-hbase-master
cdh5-hbase-regionserver

[cdh5-hbase-master]
{{ ec2_cdh5_ma_result.results[0].item.name }}

[cdh5-hbase-regionserver]
{% for i in ec2_cdh5_sl_result.results %}
{{ i.item.name }}
{% endfor %}

[cdh5-slave]
{% for i in ec2_cdh5_sl_result.results %}
{{ i.item.name }}
{% endfor %}

[cdh5-hive]
{{ ec2_cdh5_cl_result.results[0].item.name }}

[cdh5-oozie]
{{ ec2_cdh5_cl_result.results[0].item.name }}

[cdh5-pig]
{{ ec2_cdh5_cl_result.results[0].item.name }}

[cdh5-spark:children]
cdh5-spark-master
cdh5-spark-worker

[cdh5-spark-master]
{{ ec2_cdh5_ma_result.results[0].item.name }}

[cdh5-spark-worker]
{% for i in ec2_cdh5_sl_result.results %}
{{ i.item.name }}
{% endfor %}

